@keyframes buttongradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes blink {
  0% { filter:brightness(1) }
  92% { filter:brightness(1) }
  93% { filter:brightness(0) }
  95% { filter:brightness(1) }
}

@keyframes cloud {
  0% {left: 10%}
  50% {left: 80%}
  100% {left: 10%}
}

@keyframes dance {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.9);
  }
}

@keyframes ressySmash {
  0% {
    transform: scaleY(1);

  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleY(0.1);
  }
}

.ressy {
  transform-origin: bottom;
  .eyes {
    animation: blink 8s infinite;
  }
  .mouth {
    // transform: scaleY(var(--volume)) scaleX(1.2);
    transform: translate3d(0px, 0px, 0px) scale(1,var(--volume)) rotate(24deg);
    // transform: scaleX(1.2);
    // height: var(--volume);
    transition: all 100ms ease-out;
  }
  .body {
    transform-origin: bottom;
  }
  .splat & {
    animation: ressySmash 0.1s 0.4s forwards;
  }
}

.bounce {
  .body {
    animation: dance 3s reverse;
  }
}

.cloudWrapper {
  animation: cloud 30s ease-in-out infinite;
}

